.user-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user-info {
    display: flex;
    align-items: center;
    gap: 20px;

    .user-info__avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-info__name {
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .icons {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $light-gray-color;
      transition: all 0.3s ease-in-out;
    }
  }
}