.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 20px;
    height: 100vh;
    background-color: #f0f0f0;

    .login__form {
      margin-top: 20px;;
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      max-width: 400px;

      .form-group {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(25, 23, 23, 0.15);
        border-radius: 10px;

        label {
          font-weight: 500;
          margin-top: -15px;
          margin-left: 10px;
          padding: 0 5px;
          width: fit-content;
          background-color: #f0f0f0;
        }

        input {
          height: 40px;
          padding: 0 8px 8px 15px;
        }
      }

      .login-form__btn {
        width: 100%;
        min-height: 50px;
        padding: 12px 24px;
        background-color: #191718;
        color: $white-color;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 500;
        text-align: center;

        &:hover {
          opacity: 0.8;
        }
      }
    } 

    .login__options {
      margin-top: 20px;
      display: flex;
      gap: 10px;
      color: #252525;     

      .login__option:nth-child(2) {
        color: #1c6cd0;
        
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }

  .register__container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}